<%= form_for(@withdrawal) do |f| %>
  <% if @withdrawal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@withdrawal.errors.count, "error") %> prohibited this withdrawal from being saved:</h2>

      <ul>
      <% @withdrawal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :tracking_id %><br>
    <%= f.number_field :tracking_id %>
  </div>
  <div class="field">
    <%= f.label :collector %><br>
    <%= f.text_field :collector %>
  </div>
  <div class="field">
    <%= f.label :datr %><br>
    <%= f.datetime_select :datr %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
