<p id="notice"><%= notice %></p>

<p>
  <strong>Ballance:</strong>
  <%= @user.ballance %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to "Main", controller: "main", action: "show", user: @user.id %>
<%= link_to 'Edit', edit_user_path(@user) %> |
